@font-face {
  font-family: 'RobotoMono';
  src: url('../public/fonts/Roboto-Thin.ttf');
}

*{
  font-family: 'RobotoMono', monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(44, 62, 80), rgb(52, 152, 219));
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
